@model IEnumerable<E_Commerce.Models.ReviewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Reviews</h2>
    <hr />

    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Sender Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th>
                Comment
            </th>
            @*<th></th>*@
        </tr>

        @foreach (var item in Model)
        {
            /// TODO sku duzelt
            item.Product.SKU = ((new Random()).Next(1111111, 9999999)).ToString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ranking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })

                </td>*@
            </tr>
        }

    </table>
</div>