@using System.Globalization;
@model IEnumerable<E_Commerce.Models.UserOrderModel>
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid mt-5">
    <div class="row">
        @Html.Partial("_AccountList")
                <div class="col-md-8">
                    <h2>Order Informations</h2>
                    <hr />

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Order Date</th>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OrderNumber</td>
                                    <td>@item.OrderDate.ToShortDateString()</td>
                                    <td>
                                  
                                        @item.Total.ToString("c", new CultureInfo("tr-TR"))
                                    </td>
                                    <td>@item.OrderState</td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = @item.Id }, new { @class = "btn btn-primary" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

