@using System.Globalization;
@model E_Commerce.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Order Detail Informations</h2>
            <hr />
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["message"]
                </div>
            }

            <dl class="row">


                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">@Model.UserName
                <dd>

                <dt class="col-sm-3">Order State</dt>
                <dd class="col-sm-9">

                    @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                    {
                        @Html.HiddenFor(i => i.OrderId)

                        <dl class="row">
                            <dt class="col-md-8">
                                @Html.EnumDropDownListFor(i => i.OrderState, new { @class = "form-control", style="padding:5px" })
                            </dt>
                            <dd class="col-sm-4">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </dd>
                        </dl>
                    }

                </dd>

                <dt class="col-sm-3">Order Id</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">Order Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">
                    @Model.Total.ToString("c", new CultureInfo("tr-TR"))

                </dd>

                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>


                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9">
                    @Model.AddressName
                    <hr />
                    @Model.Address
                    <br />
                    @Model.City - @Model.District - @Model.Neighborhood
                    <br />
                    @Model.PostalCode
                </dd>

                <dt class="col-sm-3">Products</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>Image</th>
                                <th style="width: 45%;">Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th style="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Orderlines)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.Image" width="70" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        @item.Price.ToString("c", new CultureInfo("tr-TR"))
                                    </td>
                                    <td>
                                        <a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm" target="_blank">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Product Details
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>

            </dl>

        </div>
    </div>
</div>
