@using System.Globalization;
@model IEnumerable<E_Commerce.Models.AdminOrderModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
    <h2>Orders</h2>
    <hr />

    <table class="table table-bordered table-striped">
            <tr>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Product Amount</th>
                <th>Total Price</th>
                <td></td>
            </tr>
        

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderNumber</td>
                    <td>@item.OrderDate</td>
                    <td>@item.OrderState</td>
                    <td>@item.Count</td>
                    <td>@item.Total.ToString("c", new CultureInfo("tr-TR"))</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = @item.Id }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }
    </table>
</div>

