@using E_Commerce.Models;
@using E_Commerce.Controllers;
@model ProductModel
@{
    ViewBag.Title = "Details";
    //Layout = "/Views/Shared/_Layout.cshtml";

    HomeController homeController = ((HomeController)this.ViewContext.Controller);

    int averageRanking = homeController.CalculateAverageRanking(Model.Id);

    string reviewCountString = homeController.GetReviewCountString(Model.Id);


}

<div id="productDetails" class="container pb-5">
    <div class="row">
        <div class="col-md-6">
            <img src=@Model.Image class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 ml-2">
                        <h2>@Model.Name</h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 ml-2 mt-1">
                        @if (@Model.ProductAvailable == true)
                            {
                                <span class="badge badge-primary">In Stock</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Not In Stock</span>
                            }

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 ml-2 mt-1">
                        <span id="productSku">SKU: @Model.SKU</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 ml-2">
                        <div id="description">
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-5 ml-2 mt-1">
                        @for (int i = 0; i < averageRanking; i++)
                        {
                            <i class="bi bi-star-fill" style="color:orange;"></i>}
                        @for (int i = 0; i < 5 - averageRanking; i++)
                        {
                            <i class="bi bi-star" style="color:orange;"></i>}

                        @if (Model.Reviews.Count() == 0)
                        {
                            <span class="badge badge-warning">@reviewCountString</span> }
                        else
                        {
                            <a href="#Reviews">
                                <span class="badge badge-success">@reviewCountString</span>
                            </a>
                        }


                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 ml-2">
                        <h4 id="prodrice">@Model.Price.ToString("c")</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 ml-2">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.HiddenFor(i => i.Id)
                            if (@Model.ProductAvailable == true)
                            {

                                <button id ="addToCard"class="btn btn-success"><i class="bi bi-cart-plus-fill"></i>Add to Cart</button>
                            }
                            else
                            {
                                <button class="btn btn-success" disabled><i class="bi bi-cart-plus-fill"></i>Add to Cart</button>
                            }
                        }
                        
                    </div>
                </div>
                <div class="row">@Html.Partial("_GetSelectedOption",Model)</div>
            </div>
        </div>
    </div>



    <h3 class="mt-5">Products related to this item</h3>
    <div class="card-deck">
            @foreach (var product in homeController.GetSuggestionsList(Model.CategoryId))
            {
                averageRanking =  homeController.CalculateAverageRanking(product.Id);
                string _reviewCountString = homeController.GetReviewCountString(product.Id);

                <div class="card m-2" onclick="location.href='/Home/Details/@product.Id';" style="cursor: pointer; height:100%; border-radius:16px; overflow:hidden;">
                    <img class="card-img-top" src="@product.Image" alt="@product.Name" style="height:180px">
                    <div class="card-body">
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text description">
                            @product.Description
                        </p>

                        @for (int i = 0; i < averageRanking; i++)
                        {
                            <i class="bi bi-star-fill" style="color:orange;"></i>}
                        @for (int i = 0; i < 5 - averageRanking; i++)
                        {
                            <i class="bi bi-star" style="color:orange;"></i>
                        }

                        @if (product.Reviews.Count() == 0)
                        {
                            <span class="badge badge-warning">@_reviewCountString</span> }
                        else
                        {
                            <span class="badge badge-success">@_reviewCountString</span>
                        }

                        <div>@product.Price.ToString("c")</div>

                        
                    </div>


                </div>
            }
        </div>


    <h3 id="Reviews" class="mt-5">@reviewCountString</h3>
    <hr />
    @foreach (var review in Model.Reviews)
    {

        <li class="media">

            <img src="~/theme/img/user-icon.png" alt="Avatar" width="50" style="align-content:center; margin: 15px">

            <div class="media-body">
                <h4 class="media-heading">
                    @review.SenderName
                    <small>@homeController.GetReviewDayString(review)</small>
                </h4>
                @for (int i = 0; i < review.Ranking; i++)
                {
                    <i class="bi bi-star-fill" style="color:orange;"></i>
                }
                @for (int i = 0; i < 5 - review.Ranking; i++)
                {
                    <i class="bi bi-star" style="color:orange;"></i>
                }
                <p>@review.Content</p>
            </div>
        </li>
        <hr />
    }
    <div id="prodId" hidden="hidden">@Model.Id</div>
</div>
<script type="text/javascript" src="~/Scripts/jquery3.6.3min.js"></script>
<script type="text/javascript" src="~/theme/js/SelectedOption.js"></script>
