@using E_Commerce.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="col-sm-12">
                <p>Filtering</p>
                <div class="card h-100">

                    <article class="card-group-item mh-25">
                        <header class="card-header">
                            <h6 class="title">Types </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <form>
                                    @foreach (var urunler in Model)
                                    {
                                        <input id="type" name="type" type="radio" value="@urunler.Type">
                                        <label id="hiddenType" for="type">@urunler.Type</label><br id="typeBr">
                                    }
                                </form>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->

                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Brand </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body ">
                                <form>
                                    @foreach (var urunler in Model)
                                    {
                                        <input name="brand" type="radio" id="brand" value="@urunler.Brand">
                                        <label id="hiddenBrand" for="brand">@urunler.Brand</label><br id="brandBr">
                                    }
                                </form>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->


                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Range input </h6>
                        </header>
                        <div class="filter-content h-20 mt-0">
                            <div class="card-body mt-0">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input name="min" type="number" class="form-control" id="inputMin" placeholder="$0" value="0">
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <label>Max</label>
                                        <input name="max" type="number" class="form-control" id="inputMax" placeholder="$1,0000" value="150000">
                                    </div>
                                </div>
                            </div> <!-- card-body.// -->
                        </div>
                    </article>

                    <div class="col-sm-12 mt-2">
                        <div>
                            <div class="filter-content mh-25 mt-0">
                                <div class="card-body">
                                    <button type="button" id="btnFilter" class="btn btn-primary" onclick="typeFunction(), CalculateNumberOfProduct()">Filter</button>
                                    <button type="button" id="btnReload" class="btn btn-secondary mt-2" onclick="reloadPage()">Clear Filter</button>
                                </div> <!-- card-body.// -->
                            </div>
                        </div> <!-- card.// -->
                    </div> <!-- col.// -->
                </div>

            </div>
        </div>
        @foreach (var urunler in Model)
        {
            <h5 id="typeOfCard" hidden="hidden">@urunler.Type</h5>
            <h5 id="brandOfCard" hidden="hidden">@urunler.Brand</h5>
            <h5 id="priceProd" hidden="hidden">@urunler.Price</h5>
        }

        <div class="col-md-8">
            @if (Model.Count() > 0)
            {

                <div class="row alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle"></i>
                    <h6 id="counter">@Model.Count() product found</h6>

                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle"></i>
                    There is no product in this category

                </div>
            }


            @Html.Partial("_ProductList", Model)

        </div>
    </div>
</div>


<script src="~/theme/js/ListFilter.js"></script>