@using E_Commerce.Controllers;
@model IEnumerable<E_Commerce.Models.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    AdminController adminController = ((AdminController)this.ViewContext.Controller);

    int totalProductCount = adminController.GetTotalProductCount();
    int totalOrderCount = adminController.GetTotalOrdersCount();
    int totalProductInHomeCount = adminController.GetTotalProductShownInHomeCount();
    int totalReviewCount = adminController.GetTotalReviewCount();
}


<style>
    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
        height: auto;
    }

    .l-bg-cherry {
        background: linear-gradient(to right, #493240, #f09) !important;
        color: #fff;
    }

    .l-bg-blue-dark {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }

    .l-bg-green-dark {
        background: linear-gradient(to right, #0a504a, #38ef7d) !important;
        color: #fff;
    }

    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }

    .card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }

    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }
</style>

<div class="container pb-5">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />*@

    <div class="col-md-12 ">
        
        <div class="row">
            <div class="col-xl-3">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Orders</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    @totalOrderCount
                                </h2>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Products</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    @totalProductCount
                                </h2>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Home Products</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    @totalProductInHomeCount
                                </h2>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Reviews</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    @totalReviewCount
                                </h2>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top:30px"></div>
    <div class="d-flex justify-content-between">
        <h2>Products</h2>
        @Html.ActionLink("All Products", "Index", "Product", null, new { @class = "btn btn-primary" })

    </div>
    <hr />

    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th style="width: 160px;"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Image" width="70" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.IsHome)
                    {
                        <label class="badge badge-success">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            Yes
                        </label> }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            No
                        </label>}
                </td>
                <td>
                    @if (item.IsApproved)
                    {
                        <label class="badge badge-success">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            Yes
                        </label> }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            No
                        </label>}
                </td>
                <td>
                    @Html.ActionLink("Update", "Edit", "Product" , new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", "Product", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>
